{% extends "game/base.html" %}
{% load crispy_forms_tags %}
{% block menu %}
  {% if user.is_authenticated %}
    {% include "game/navbar-logged-in.html" %}
  {% else %}
    {% include "game/navbar-logged-out.html" %}
  {% endif %}
{% endblock %}
{% block content %}
{% if guildName %}
<h1>{{ guildName }}</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">User</th>
        <th scope="col">Character</th>
        <th scope="col">Exp</th>
      </tr>
    </thead>
    <tbody>
      {% for member in members %}
        <tr>
          <th scope="row">{{ forloop.counter0 }}</th>
          <td>{{ member.name }}</td>
          <td>{{ member.charName }}</td>
          <td>{{ member.exp }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <h1>Join a Guild</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Guild Name</th>
        <th scope="col">Number of Members</th>
        <th scope="col">Join?</th>
      </tr>
    </thead>
    <tbody>
      {% for guild in guilds %}
        <tr>
          <th scope="row">{{ forloop.counter0 }}</th>
          <td>{{ guild.name }}</td>
          <td>{{ guild.num_members }}</td>
          <td><a href="{% url 'game-guild-join' %}?gID={{ guild.gID }}">join</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <h1>Create Guild</h1>
  <div class="content-section">
    <form action="/guild-create/" method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4:"></legend>
        {{ form|crispy }}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Submit</button>
      </div>
    </form>
  </div>
{% endif %}

{% endblock content %}
