{% extends "game/base.html" %}
{% load crispy_forms_tags %}
{% block menu %}
  {% if user.is_authenticated %}
    {% include "game/navbar-logged-in.html" %}
  {% else %}
    {% include "game/navbar-logged-out.html" %}
  {% endif %}
{% endblock %}
{% block content %}
  <h1>Join Guild</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Guild Name</th>
        <th scope="col">Number of Members</th>
      </tr>
    </thead>
    <tbody>
      {% for guild in guilds %}
        <tr>
          <th scope="row">{{ forloop.counter0 }}, {{ guild }}</th>
          <td><li>{{ guild }} <a href="#">join</a></li></td>
          <td>7</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <h1>Create Guild</h1>
  <div class="content-section">
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4:"></legend>
        {{ form|crispy }}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Submit</button>
      </div>
    </form>
  </div>
{% endblock content %}
