{% extends "game/base.html" %}
{% block content %}
  <div>
    {% if user.is_authenticated %}
      <a href="{% url 'game-guild' %}">Guild</a>
    {% else %}
      <div class="container h-100">
        <div class="row align-items-center h-100">
          <div class="col-lg-8 col-sm colm-md mx-auto mt-3">
            <div class="jumbotron">
              <h1 class="display-4">Welcome, Slayer!</h1>
              <p class="lead">Collect items. Level up. Slay monsters.</p>
              <hr class="my-4">
              <p>Dungeon Buddies, Monster Slayers is a simple online RPG. Register today or sign in!</p>
              <a href="{% url 'register-index' %}" class="btn btn-primary btn-md" >Register</a>
              <a href="{% url 'register-login' %}" class="btn btn-primary btn-md">Sign In</a>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock content %}
