{% extends "game/base.html" %}
{% load static %}
{% block menu %}
  {% if user.is_authenticated %}
    {% include "game/navbar-logged-in.html" %}
  {% else %}
    {% include "game/navbar-logged-out.html" %}
  {% endif %}
{% endblock %}
{% block content %}
<script type="text/javascript">
  $(".nav-item").removeClass('active')
  $("#indexNavLink").addClass('active')
</script>
  <div>
    {% if user.is_authenticated %}
      <div class="container">
        <div class="row">
          <div class="col mr-4 bg-light rounded">
            <div class="container mt-2 mb-2">
              <div class="row">
                <div class="col-4">
                  <img src="{% static "game/profilepic.png" %}" alt="profile picture" class="img-thumbnail">
                </div>
                <div class="col">
                  <div class="row">
                    Username: {{ userInfo.username }}
                  </div>
                  <div class="row">
                    Character: {{ userInfo.characterName }}
                  </div>
                  <div class="row">
                    Level: {{ userInfo.level }}
                  </div>
                  <div class="row">
                    Experience: {{ userInfo.exp }}
                  </div>
                  <div class="row">
                    Gold: {{ userInfo.gold }}
                  </div>
                  <div class="row">
                    Health: {{ userInfo.health }}
                    <a href="{% url 'game-index' %}?bID=1" class="btn-sm btn-primary btn-lg active" role="button" aria-pressed="true">Increase Health</a>
                  </div>
                  <div class="row">
                    Attack: {{ userInfo.attack }}
                    <a href="{% url 'game-index' %}?bID=2" class="btn-sm btn-primary btn-lg active" role="button" aria-pressed="true">Increase Attack</a>
                  </div>
                  <div class="row">
                    Defense: {{ userInfo.defense }}
                    <a href="{% url 'game-index' %}?bID=3" class="btn-sm btn-primary btn-lg active" role="button" aria-pressed="true">Increase Defense</a>
                  </div>
                  <div class="row">
                    Speed: {{ userInfo.speed }}
                    <a href="{% url 'game-index' %}?bID=4" class="btn-sm btn-primary btn-lg active" role="button" aria-pressed="true">Increase Speed</a>
                  </div>
                  <div class="row">
                    Skill Points Available: {{ userInfo.skillPoints }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col bg-light rounded">
            <div class="mt-2 mb-2">
              Raids Invites:
              <div id="inviteList"></div>
            </div>
            <script type="text/javascript">
              function getInvites(){
                $.ajax({
                  type: "GET",
                  url: "{% url 'game-raid-get-invites' %}",
                  dataType: "json",
                  success: function(response){
                    var inviteDiv = document.getElementById("inviteList");
                    while (inviteDiv.firstChild) {
                        inviteDiv.removeChild(inviteDiv.firstChild);
                    }
                    response["invites"].forEach(function(invite){
                      var div = document.createElement("DIV")
                      var sender = invite["senderUsername"]
                      var secondsLeft = invite["timeLeft"]
                      div.innerHTML = `${sender} has invited you on a raid! You have ${secondsLeft} second(s) to respond.`
                      inviteDiv.appendChild(div)
                    })
                  }
                });
              };
              window.onload = getInvites;
              window.setInterval(function(){ getInvites(); }, 50000)
            </script>
          </div>
        </div>
      </div>
    {% else %}
      <div class="container h-100">
        <div class="row align-items-center h-100">
          <div class="col-lg-8 col-sm colm-md mx-auto mt-3">
            <div class="jumbotron">
              <h1 class="display-4">Welcome, Slayer!</h1>
              <p class="lead">Collect items. Level up. Slay monsters.</p>
              <hr class="my-4">
              <p>Dungeon Buddies, Monster Slayers is a simple online RPG. Register today or sign in!</p>
              <a href="{% url 'register-index' %}" class="btn btn-primary btn-md" >Register</a>
              <a href="{% url 'register-login' %}" class="btn btn-primary btn-md">Sign In</a>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock content %}
