{% extends "game/base.html" %}
{% block menu %}
  {% if user.is_authenticated %}
    {% include "game/navbar-logged-in.html" %}
  {% else %}
    {% include "game/navbar-logged-out.html" %}
  {% endif %}
{% endblock %}
{% block content %}
{% if has_won %}
  Raid complete! <a href="{% url 'game-index' %}">Click here to return.</a>
{% elif has_lost %}
  You were defeated. <a href="{% url 'game-index' %}">Click here to return.</a>
{% else %}
  <h4>Monsters</h4>
  <div class="container">
    <div class="row">
      {% for m in monsters %}
      <div class="col-sm">
        <div style="font-weight: bold">
          {{ m.name }} 
        </div>
      Health: {{ m.health }}
      <br>
      Attack: {{ m.attack }}
      <br>
      Defense: {{ m.defense }}
      <br>
      Speed: {{ m.speed }}
      <br>
      {% if no_move and health != 0 and m.health != 0 %}
        <a class="btn btn-primary btn-sm" href="{% url 'game-raid-attack' %}?mID={{ m.monsterID }}&pk={{ pk }}">Attack</a>
      {% endif %}
      </div>
      {% endfor %} 
    </div>
  </div>
  <h4>Party</h4>
  <div class="container">
    <div class="row">
      {% for member in party %}
      <div class="col-sm">
        <div style="font-weight: bold">
          {{ member.name }}
        </div>
        Health: {{ member.health }}
      </div>
      {% endfor %}
    </div>
  </div>
{% endif %}

<ul class="list-group">
{% for event in events %} 
  {{ event }}
{% endfor %} 
</ul>
{% endblock content %}
