{% extends "game/base.html" %}
{% block menu %}
  {% if user.is_authenticated %}
    {% include "game/navbar-logged-in.html" %}
  {% else %}
    {% include "game/navbar-logged-out.html" %}
  {% endif %}
{% endblock %}
{% block content %}
{% if has_won %}
  <a href="{% url 'game-index' %}">Congrats! You Win!</a>
{% elif has_lost %}
  <a href="{% url 'game-index' %}">You were defeated...</a>
{% else %}
  <h4>Monsters...</h4>
  {% for m in monsters %} 
  <ul>
    <li>name: {{ m.name }} health: {{ m.health }}</li>
    {% if no_move and health != 0 and m.health != 0 %}
    <a href="{% url 'game-raid-attack' %}?mID={{ m.monsterID }}&pk={{ pk }}">attack {{ m.name }}</a>
    {% endif %}
  </ul>
  {% endfor %} 

  <h4>Party</h4>
  {% for member in party %} 
  <ul>
    <li>name: {{ member.name }} health: {{ member.health }}</li>
    {% if member.health == 0 %}<li>Dead</li>{% endif %}
    {% if member.no_move and member.health != 0 %}<li>*no move*</li>{% elif member.health != 0 %}<li>Ready!</li>{% endif %}
  </ul>
  {% endfor %} 
{% endif %}
{% for event in events %} 
<ul>
  <li>{{ event }}</li>
</ul>
{% endfor %} 
{% endblock content %}
