{% extends "game/base.html" %}
{% block menu %}
  {% if user.is_authenticated %}
    {% include "game/navbar-logged-in.html" %}
  {% else %}
    {% include "game/navbar-logged-out.html" %}
  {% endif %}
{% endblock %}
{% block content %}
<script type="text/javascript">
  $(".nav-item").removeClass('active')
  $("#raidNavLink").addClass('active')
</script>
<h4>Starting a Level {{ level }} raid. Get Ready!</h4>
<h4>Partner 1: {{ partners.0 }}</h4>
<h4>Partner 2: {{ partners.1 }}</h4>

{% if is_owner %}
<a class="btn btn-primary" href="{% url 'game-raid-play' %}">Start Raid!</a>
<a class="btn btn-danger" href="{% url 'game-raid' %}?cancel=1">Cancel Raid</a>
{% endif %}
{% endblock %}
